%h1 Access Control Lite
.block#block-signup
  %h2 Edit Profile
  .content
    .flash
      - flash.each do |type, message|
        %div{ :class => "message #{type}" }
          %p= message
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form",:method => 'put' }) do |f|
      .group
        = f.label :email, :class => "label"
        = f.text_field :email, :class => "text_field"
        %span.description Ex. test@example.com
      .group
        = f.label :password, :class => "label"
        = f.password_field :password, :class => "text_field"
        %span.description must be at least 6 characters
      .group
        = f.label :password_confirmation, "Re-enter Password", :class => "label"
        = f.password_field :password_confirmation, :class => "text_field"
      .group
        = f.label :name, "Full Name", :class => "label"
        = f.text_field :name, :class => "text_field"
      .group
        = f.label :current_password, "Current Password", :class => "label"
        = f.password_field :current_password, :class => "text_field"
        %span.description we need your current password to confirm your changes
      .group.navform.wat-cf
        %button.button{ :type => "submit" }
          = image_tag "web-app-theme/icons/tick.png"
          Update
    = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
    
 

