.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", systems_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_system_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Systems
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.system.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @users.each do |user|
          %tr{:class => cycle("odd", "even")}
            %td
              = user.id
            %td
              = link_to user.name, user_control_path(user)
            %td
              = user.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", user_control_path(user)
              |

      .actions-bar.wat-cf
        .actions
        = paginate @users
- content_for :sidebar, render(:partial => 'sidebar')