.block.notice.whiteout
	%h3 Access Provision Details
	%br
		.content
			= form_for ac, :url => action_request_path, :remote => true ,:html => { :class => :form } do |f|
				.group
					= f.label :username, "User Name", :class => :label
					= f.text_field :username, :class => 'text_field'
					
				.group
					= f.label :temp_password, "Temporary Password", :class => :label
					= f.text_field :temp_password, :class => 'text_field'
					
				= f.submit 'Provision'
