




.group
  = f.label :user_id, t("activerecord.attributes.access.user_id", :default => "User"), :class => :label
  = f.hidden_field :user_id
  = autocomplete_field_tag 'user','', autocomplete_user_name_accesses_path, :id_element => '#access_user_id'
  %span.description Ex: a simple text

.group
  = f.label :system_id, t("activerecord.attributes.access.user_id", :default => "System"), :class => :label
  = f.hidden_field :system_id
  = autocomplete_field_tag 'system','', autocomplete_system_name_accesses_path, :id_element => '#access_system_id'
  %span.description Ex: a simple text

.group
  = f.label :level_id, t("activerecord.attributes.access.level_id", :default => "Level"), :class => :label
  = f.select :level_id, ''
  %span.description Ex: a simple text


.group
  = f.label :request_date, t("activerecord.attributes.access.request_date", :default => "Request date"), :class => :label
  = f.date_select :request_date, :class => 'date_select'
  %span.description Ex: a simple text

.group
  = f.label :reason, t("activerecord.attributes.access.reason", :default => "Reason"), :class => :label
  = f.text_area :reason, :class => 'text_area'
  %span.description Provide a brief reason as to why the user requires this access
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), accesses_path, :class => "text_button_padding link_button"
