.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", accesses_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_access_path
      %li.active= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_access_path
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      Access
    .inner
      = form_for @access, :url => access_path(@access), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')
