.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", accesses_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_access_path
  .content
    %h2.title
      Access Requests Requiring Your Approval
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.access.user_id", :default => t("activerecord.labels.user_id", :default => "User"))
          %th= t("web-app-theme.reason", :default => "Reason")
          %th.last &nbsp;
        - @authorise_me.each do |access|
          %tr{:class => cycle("odd", "even")}
            %td
              = access.id
            %td
              = link_to access.user.name, access_path(access)
            %td
              = access.reason

            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", access_path(access)
              = link_to image_tag( 'authorise.png '), authorise_path(access)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_access_path(access)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", access_path(access), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = paginate @accesses

    %h2.title
      
      Access Requests Requiring Your Action
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.access.user_id", :default => t("activerecord.labels.user_id", :default => "User_id"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @action_me.each do |access|
          .action_request{:class=>access.id}
            %tr{:class => [cycle("odd", "even"),'access_request',access.id]}
              %td
                = access.id
              %td
                = link_to access.user_id, access_path(access)
              %td
                = access.created_at
              %td.last
                = link_to "#{t("web-app-theme.show", :default => "Show")}", access_path(access)
                |
                \#{link_to "Action",'#', :class => 'action_request', :'data-id' => access.id} 
                |
                \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_access_path(access)} 

                \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", access_path(access), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
    

        = paginate @accesses
    %h2.title
      
      Outstanding Access Requests For People You Manage
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.access.user_id", :default => t("activerecord.labels.user_id", :default => "User_id"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @accesses.each do |access|
          %tr{:class => cycle("odd", "even")}
            %td
              = access.id
            %td
              = link_to access.user_id, access_path(access)
            %td
              = access.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", access_path(access)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_access_path(access)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", access_path(access), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
    
        = paginate @accesses
     
  
- content_for :sidebar, render(:partial => 'sidebar')
