.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", accesses_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_access_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", access_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.access.user_id", :default => t("activerecord.labels.user_id", :default => "User"))
          \:
        = @access.user_id
      %p
        %b
          = t("activerecord.attributes.access.level_id", :default => t("activerecord.labels.level_id", :default => "Level"))
          \:
        = @access.level_id
      %p
        %b
          = t("activerecord.attributes.access.request_date", :default => t("activerecord.labels.request_date", :default => "Request date"))
          \:
        = @access.request_date
      %p
        %b
          = t("activerecord.attributes.access.authorised_by", :default => t("activerecord.labels.authorised_by", :default => "Authorised by"))
          \:
        = @access.authorised_by
      %p
        %b
          = t("activerecord.attributes.access.authorised_date", :default => t("activerecord.labels.authorised_date", :default => "Authorised date"))
          \:
        = @access.authorised_date
      %p
        %b
          = t("activerecord.attributes.access.actioned_by", :default => t("activerecord.labels.actioned_by", :default => "Actioned by"))
          \:
        = @access.actioned_by
      %p
        %b
          = t("activerecord.attributes.access.actioned_date", :default => t("activerecord.labels.actioned_date", :default => "Actioned date"))
          \:
        = @access.actioned_date
      %p
        %b
          = t("activerecord.attributes.access.username", :default => t("activerecord.labels.username", :default => "Username"))
          \:
        = @access.username
      %p
        %b
          = t("activerecord.attributes.access.temp_password", :default => t("activerecord.labels.temp_password", :default => "Temp password"))
          \:
        = @access.temp_password
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_access_path(@access), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), access_path(@access), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
