.group
  = f.label :name, t("activerecord.attributes.system.name", :default => "Name"), :class => :label
  = f.text_field :name, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :description, t("activerecord.attributes.system.description", :default => "Description"), :class => :label
  = f.text_area :description, :class => 'text_area'
  %span.description Ex: a simple text
.group
  = f.label :owner_id, t("activerecord.attributes.system.owner_id", :default => "Owner"), :class => :label
  = f.hidden_field :owner_id
  = autocomplete_field_tag 'owner',(@system.owner.name unless @system.owner.blank?) ,autocomplete_user_name_systems_path, :id_element => '#system_owner_id'
  %span.description Ex: a simple text

.group
  = f.label :owner_id, "Access Levels" , :class => :label

  = f.fields_for :access_levels do |alform|
    %span.text_field 
      = alform.text_field :name, :style => 'margin-top: 5px;'
      = alform.link_to_remove "Remove"
  = f.link_to_add "Add Access Level", :access_levels
.group
  = f.label :admin_1, t("activerecord.attributes.system.owner_id", :default => "Primary Admin"), :class => :label
  = f.hidden_field :admin1_id
  = autocomplete_field_tag 'admin2',(@system.admin1.name unless @system.admin1.blank?) , autocomplete_user_name_systems_path, :id_element => '#system_admin1_id'
  %span.description Ex: a simple text
.group
  = f.label :admin_2, t("activerecord.attributes.system.owner_id", :default => "Secondary Admin"), :class => :label
  = f.hidden_field :admin2_id
  = autocomplete_field_tag 'admin1',(@system.admin2.name unless @system.admin2.blank?) , autocomplete_user_name_systems_path, :id_element => '#system_admin2_id'
  %span.description Ex: a simple text
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), systems_path, :class => "text_button_padding link_button"
