.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", systems_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_system_path
      %li.active= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_system_path
  .content
    %h2.title
      = t("web-app-theme.edit", :default => "Edit")
      System
    .inner
      = nested_form_for @system, :url => system_path(@system), :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')
