.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", systems_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_system_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Systems
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.system.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @systems.each do |system|
          %tr{:class => cycle("odd", "even")}
            %td
              = system.id
            %td
              = link_to system.name, system_path(system)
            %td
              = system.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", system_path(system)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_system_path(system)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", system_path(system), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = paginate @systems
- content_for :sidebar, render(:partial => 'sidebar')
