.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", systems_path
      %li.active= link_to "#{t("web-app-theme.new", :default => "New")}", new_system_path
  .content
    %h2.title
      = t("web-app-theme.new", :default => "New")
      System
    .inner
      = nested_form_for @system, :url => systems_path, :html => { :class => :form } do |f|
        = render :partial => "form", :locals => {:f => f}
- content_for :sidebar, render(:partial => 'sidebar')
