.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", systems_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_system_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", system_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.system.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @system.name
      %p
        %b
          = t("activerecord.attributes.system.description", :default => t("activerecord.labels.description", :default => "Description"))
          \:
        = @system.description
      %p
        %b
          = t("activerecord.attributes.system.owner_id", :default => t("activerecord.labels.owner_id", :default => "Owner"))
          \:
        = @system.owner.name
      %p
        %b
          = t("activerecord.attributes.system.admin1_id", :default => t("activerecord.labels.admin1_id", :default => "Admin1"))
          \:
        = @system.admin1_id
      %p
        %b
          = t("activerecord.attributes.system.admin2_id", :default => t("activerecord.labels.admin2_id", :default => "Admin2"))
          \:
        = @system.admin2_id
      %p
        %b
          Access Levels
          \:
          = @system.access_levels.collect{|acl| acl.name}.join(',')
            
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_system_path(@system), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), system_path(@system), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
