!!!
%html
  %head
    %title Access Control Lite
    
    = stylesheet_link_tag 'application'
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    #container
      #header
        %h1
          %a{:href => "/"} Access Control Lite
        #user-navigation
          %ul.wat-cf
            %li
              %a{:href => "#"}= t("web-app-theme.profile", :default => "Profile")
            %li
              %a{:href => "#"}= t("web-app-theme.settings", :default => "Settings")
            %li
              = link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :method => :delete          
        #main-navigation
          %ul.wat-cf
            %li{ :class => (params[:controller] == "home" ? "first active" : "first")} 
              = link_to "Home", root_path
            %li{:class => (params[:controller] == "systems" ? "active" : nil)} 
              = link_to "Systems", systems_path
            %li{:class => (params[:controller] == "accesses" ? "active" : nil)} 
              = link_to "Access Requests", accesses_path
      #wrapper.wat-cf
        .flash
          - flash.each do |type, message|
            %div{:class => "message #{type}"}
              %p= message
        #main
          = yield
          #footer
            .block
              %p
                Copyright &copy; #{Time.now.year} Access Control Lite.
        #sidebar
          = yield :sidebar
