!!!
%html
  %head
    %title Access Control Lite
    = stylesheet_link_tag "web_app_theme"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #container
      #box
        = yield
